body {
  background-color: #a2aefa;
  /*background-size: cover;*/
  font-family: Garamond, serif;
  font-weight: bold;
  text-align: center;
}

.container {
  background: #faebbb;
  margin: auto;
  max-width: 70%;
  padding: 2rem;
  border-radius: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button:hover {
  color: black;
}

#increment-btn {
  background: #a0fabe;
  transition: 0.3s;
}

#increment-btn:hover {
  background: #d4fadd;
}

#save-btn {
  background: #fa3eaf;
}

#save-btn:hover {
  background: #faafb6;
  transition: 0.3s;
}
